@model RoomsApplication.Models.HumansToRoomsViewModel

@{
    ViewBag.Title = "AddHumanToRoom";
}
@using (Html.BeginForm("AddHumanToRoom", "Humans", FormMethod.Post))
{
    <h1>This is Add Human to Room by ID Page</h1>
    <br />
    <div>
        @Html.LabelFor(x => x.RoomId)
    </div>
    <div>
        @Html.TextBoxFor(x => x.RoomId)
    </div>
    <br />
    <div>
        @Html.LabelFor(x => x.HumanId)
    </div>
    <div>
        @Html.TextBoxFor(x => x.HumanId)
    </div>
    <br />
    <input type="submit" value="Отправить" />
}

